.right-content{
    padding-left: 1rem;
    .content{
        height: 100%;
        background-color: white;
        padding: 0 2em;
    }
    @media screen and (max-width:1024px) {
        .content{
            padding : 0;
        }
    }
}

