@import "./styles/Base/reset";
@import "./styles/Base/customize";

@import "./styles/Helper/function";
@import "./styles/Helper/variables";
@import "./styles/Helper/mixin";

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  color: black;
  text-decoration: none;
  transition: all 0.1s;
  
}
a:hover {
  color: #032a63 !important;
}

//custom scrool bar
.scrollbar {
  height: 100%;
  background: #f5f5f5;
  overflow-y: scroll;
  margin-bottom: 25px;
  scroll-behavior: smooth;
  margin-right: 1px;
  &::-webkit-scrollbar {
    width: 4px;
    background-color:rgba(20, 50, 93, 0.544);
  }
  &::-webkit-scrollbar-thumb {
    background-color: $color-navy-0;
    border-radius: 5px;
  }
}

.animation{
  transition: top 3s;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.sticky {
  position: fixed;
  width: 100%;
  z-index: 99;
  top: 0;
  left: 0;
  background: #032a63;
  box-shadow: none;
  transition: top 3s;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  padding: 15px;

  .container{
    padding: 0;
    .navbar-bottom{
      padding: 0;
    }
  }
}

