.border-rigth{
    padding-left: 2em;
    border-left:1px solid rgba(128, 128, 128, 0.552);
}

@media screen and ( max-width:1024px ){
    .border-rigth{
    padding: 0;
    border: none;        
    }   
}